:root {
    --bg1 : #1a2035;
    --bg2 : #2a3347;
    --action_color : #ffc107;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: #ffc107;
}
.side_bare_copy{
    position: relative;
    .copy_right{
        font-size: 12px;
        position: absolute;
        bottom: 100px;
        right: 5px;
    }
}
body{
    background-color: #f3f4f6;
    overflow: hidden;
    font-family: "Courier font", Arial, sans-serif;
}
.top-menu{
    height: 50px;
}
.main_over_all{
    height: calc( 100vh - 50px);
    overflow: hidden auto;
}
.button_add{
    background-color: #004d40;
    border: 0 solid transparent;
    color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    i{
        color: #fff;
        font-size: 15px;
    }
    transition: .4s ease;
}
.button_add:hover{
    transform: scale(1.1);
}
.button_delete{
    background-color: #d60f0f;
}

// }
///////pages style from old
@import "css_old/bootstrap-rtl.css";
@import "css_old/index.css";
@import "css_old/watch.css";
@import "css_old/channel.css";
@import "css_old/search.css";
@import "css_old/log.css";

//components
@import "components/main_frame.scss";
//**************pages
@import "pages/auth_pages/chanels.scss";
@import "pages/auth_pages/videos.scss";
@import "pages/auth_pages/about.scss";
@import "pages/auth_pages/play_list.scss";
@import "pages/auth_pages/play_videos.scss";
@import "pages/gest_pages/home.scss";
@import "pages/auth_pages/list_chanels.scss";
@import "pages/auth_pages/historique.scss";
@import "pages/auth_pages/support.scss";
@import "pages/login.scss";

//***********admin
@import "pages/admin_pages/main_frame/main_content.scss";
@import "pages/admin_pages/main_frame/main_fram.scss";
@import "pages/admin_pages/main_frame/side_bar.scss";
@import 'pages/admin_pages/component/component.scss';
//pages
@import 'pages/admin_pages/pages/users.scss';
@import 'pages/admin_pages/pages/videos.scss';
//dhashboard
@import 'pages/admin_pages/dachboard/charts.scss';
@import 'pages/admin_pages/dachboard/charts_line.scss';
@import 'pages/admin_pages/dachboard/total_cards.scss';
//************responce 
@import "responce_main.scss";
@import "pages/admin_pages/responce.scss"