.charts_panel{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: var(--bg2);
}