.videos_frame{
    height: calc(100vh - 120px);
    overflow: hidden auto;
    .container{
        .image_video{
            display: flex;
            width: 350px;
            height: 200px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .card-body{
            .card-text{
                height: 25%;
                overflow: hidden;
            }
            .channel-img{
                display: flex;
                flex-direction: row;
            }
        }
    }
}
